service NAME
{
        type                    = UNLISTED
        disable                 = no
        socket_type             = stream
        wait                    = no
        user                    = nobody
        redirect                = 127.0.0.1 PORT
        bind                    = MYIP 66.45.228.200
        only_from               = IP
        port                    = PORT
        nice                    = 10

}

