[heartbeat]
enable = 1
check_interval = 30
timeout = 120
ping_when_silent_for = 70

[options]
use_ssl = 0

[timers]
vps_update_info = 600
vps_get_traffic = 60
get_map = 600
vps_queue = 60
get_new_vps = 60
get_queue = 60
vps_get_list = 60
vps_update_extra_info = 86400
update_virtuozzo = 86400
